<ion-split-pane contentId="second-content" [disabled]="!paneEnabled">

  <ion-menu contentId="second-content" menuId="second">

    <ion-header>
      <ion-toolbar color="primary">
          <ion-title>Menu 2</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false" menu="second">

          <ion-item routerLink="/tabs/tab2/user" routerDirection="root" routerLinkActive="active-item">
            <ion-label>
              User
            </ion-label>
          </ion-item>

          <ion-item routerLink="/tabs/tab2/account" routerDirection="root" routerLinkActive="active-item">
            <ion-label>
              Account
            </ion-label>
          </ion-item>

         

        </ion-menu-toggle>
      </ion-list>
    </ion-content>

  </ion-menu>

  <ion-router-outlet id="second-content"></ion-router-outlet>

</ion-split-pane>